
{% extends 'base.html' %}
{% load static %}

{% block title %} Info | CAMeO {% endblock title %}

{% block head %}
    <style>
        /* font-family: 'Cormorant Garamond', serif;
         font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif; */

        body{
            font-family: 'Open Sans', sans-serif
        }


        .display-1{
            font-size: 3rem;
        }

        p{
            color: white;
            font-size: 1.2rem;
        }

        h2 {
            font-weight: 300;
            font-size: 1.5rem;
            color: white;
        }

        @media (max-width: 992px) {
            h2 {
                font-size: 1.8rem;
            }
        }

        @media (max-width: 576px) {
            h2 {
                font-size: 1.5rem;
            }
        }

        h3 {
            color: white;
        }

        .display-6{
            font-size: 30px;
        }

        .card_right__button {
          padding: 0 0 0 0px;
          margin: 30px 0 0 0;
        }

        .card_right__button button {
          color: #ffda00;
          background-color: #040F0F;
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          border: 2px solid #ffda00;
          padding: 10px 10px 10px 40px;
          font-size: 16px;
          background-size: 12px 12px;
          background-repeat: no-repeat;
          background-position: 7% 50%;
          border-radius: 5px;
          transition-property: all;
          transition-duration: 0.5s;
        }

        .card_right__button button:hover {
          color: #000000;
          background-color: #ffda00;
          background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
          background-size: 12px 12px;
          background-repeat: no-repeat;
          background-position: 10% 50%;
          cursor: pointer;
          transition-property: all;
          transition-duration: 0.5s;
        }


    </style>
{% endblock head %}

{% block content %}

<body style="background: rgb(37,37,37);">
    
    {% include 'nav.html' %}
    <br>
    <br><br><br><br>
    <div class="container-fluid row mb-5">
        <div class="container-fluid col-sm-5 offset-md-2">
            {% if in_db is True %}
                <img src="{{ data.Poster_url }}" class="d-block w-50" alt="...">

            {% else %}
                <img src="{{ data.Poster }}" class="d-block w-50" alt="...">
            {% endif %}
        </div>
        <div class="container-fluid col-sm-5">
            <h1 class="display-1">{{ data.Title }}</h1>
            <p>{{ data.Year }} | {{ data.Type|title }} | {{ data.Lang }}</p>
            {% if data.Type != movie %}
                <p>Total Seasons: {{ data.Seasons }} </p>
            {% endif %}
            <h2>
              {{ data.Plot }}
            </h2>
            <br>
            <h3 class="lead">Rating:&nbsp;&nbsp;<strong>{{ data.imdbRating }}</strong></h3>
            
            <br>
            <h3 class="lead">

                {% if in_db is True %}

                Genre:&nbsp;&nbsp;{% for genre in data.Genre.all %}<strong>{{ genre }} </strong>{% endfor %}
                {% else %}
                Genre:&nbsp;&nbsp;<strong>{{ data.Genre }}</strong>
                {% endif %}

            </h3>
            <div class='card_right__button'>
            <form method='POST'> {% csrf_token %}
              <button type=submit>Watchlist</button>
            </form>
            </div>
            <br>
            
        </div>
    </div>

    
  </body>
{% endblock content %}
