
{% extends 'base.html' %}
{% load static %}

{% block title %}CAMeO - Home Page{% endblock title %}

{% block head %}

<style>

.height {
    height: 10vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
}

</style>


{% endblock head %}

{% block content %}
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background: rgb(37,37,37);">
    {% include 'nav.html' %}

    <header class="masthead">
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="opacity: 0.99;filter: brightness(56%);">
            <div class="carousel-inner">
                <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'img/bb.jpg' %}" alt="Slide Image"></div>
                <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/dd.png' %}" alt="Slide Image"></div>
                <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/the-office.jpg' %}" alt="Slide Image"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div>
    </header>
    

    <section class="main-container">
        <div class="container">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <form class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Search for a movie or show" name='q' value="{{ requests.GET.q }}" type="submit"> <button name="action" type="submit" class="btn btn-success">Search</button> </form>
                    </div>
                </div>
            </div>
            <div class="location" id="home">
                <h1 class="subhead" id="home">Popular on CAMeO</h1>
                <div class="box">
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p2.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p3.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p4.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p5.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p6.PNG?raw=true"
                            alt=""></a>

                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p7.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p8.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p9.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p10.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p11.PNG?raw=true"
                            alt=""></a>
                    <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p12.PNG?raw=true"
                            alt=""></a>
                </div>
            </div>

</body>
{% endblock content %}